footer {
    display: flex;
    height: 595px;
    background-color: #5E5E5D;
    flex-direction: column;
    overflow: hidden;
}

footer .container {
    margin-top: 35px;
    margin-left: 100px;
}

footer .plataformas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    height: 80px;
}

footer .container #redes {
    margin-top: 30px;
}

footer .container #copyright {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 94.5%;
    font-size: 20px;
    color: #FFFFFF;
    width: 820px;
    letter-spacing: 2.2px;
}

footer .container #copyright a {
    color: #FFFFFF;
}

.spritesheets-container div {
    width: 480px; /* Ancho de un frame (19200/40) */
    height: 480px; 
    position: absolute;
    background-repeat: no-repeat;
    animation: bailar 2s steps(40) infinite;
}

.spritesheet1{
    background-image: url("../assets/giphy40.png");
    right: 3px;
}

.spritesheet2{
    background-image: url("../assets/giphy40-2.png");
    left: 46px;
}

.spritesheet3{
    background-image: url("../assets/giphy40-3.png");
    top: 153px;
}

@keyframes bailar {
    from {
        background-position: 0px;
    }
    to {
        background-position: -19200px; /* Mover todo el ancho del spritesheet */
    }
}


.spritesheets-container{ 
    position: relative;
    position: relative;
    width: 400px;
    align-self: flex-end;
}
