.mas-amigos-section{ /* clase de la seccion que contiene TOODO*/
    padding: 174px 100px 0 100px ;
    height: 5421.17px;
    /*height: 5679.48px = 5117.31 (espacio total de la section) + 562.17 (gap entre el ultimo elemento y la seccion siguiente) */
}

.mas-amigos-section h1{
    font-size: 60px;
    line-height: 94.5%;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

/* contenedor de ambas columnas*/
.grid-sticky-content{
    display: flex;
    gap: 179px;
    align-items: self-start;
    justify-content: end;
}

/* contenedor con la columna de los dibujitos*/
.sticky-column{
    width: 291px;
    margin-top: 68px;
    position: sticky;
    top: 82.4px;
    overflow: hidden;
}


.character-img{
    width: 100%;
    height: 436px;
    display: none;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* contenedor de la columna con la info de cada personaje*/
.scroll-column{
    width: 467px;
    height: 4744px; /* 4469 + 159 + 116 para poder scrollear un poco mas la ultima section*/
    display: flex;
    flex-direction: column;
    gap: 267px;
    padding-top: 159px;
}

/* section con la info de cada personaje*/
.char-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease, display 0.3s allow-discrete;
    

    @starting-style{
        opacity: 0;
    }
}

.char-info h3{
    font-size: 40px;
    line-height: 94.5%;
    font-weight: normal;
}

.char-info p{
    font-size: 20px;
    line-height: 94.5%;
    font-weight: 500;
}

.character-img.active {
    opacity: 1;
    transform: scale(1);
    display: block;
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn { /* animacion de entrada */
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.char-info.active {
    opacity: 1;
}

