/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.page_content {
    height: 550px;
    background-color: #023467; /* Fondo azul oscuro */
}

/* Estilo del header */
header {
    background-color: #0061C3;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center; /* Alinea el contenido verticalmente */
    justify-content: space-between; /* Espacio entre los elementos */
}

header a img {
    max-width: 40px; /* Controla el tamaño de la imagen sin padding */
}

header a {
    padding-left: 400px;
}

.logo {
    max-width: 15%;
    margin-right: 50px; /* Alinea el logo a la derecha */
}

/* Estilo del navegador */
.header_nav {
    position: absolute;
    margin-left: 400px;
    background-color: #00274E;
    width: 220px;
    height: auto; /* Cambiado a auto para permitir la animación */
    max-height: 0; /* Inicialmente oculto */
    overflow: hidden; /* Oculta el contenido desbordante */
    transition: max-height 200ms ease-out; /* Añadir la transición de altura */
    color: #FFF;
}

.header_nav.show {
    max-height: 550px; /* Ajusta la altura máxima según el contenido */
}

.header_nav h2 {
    font-size: 20px;
}

.header_nav h3,
.user_info h2 {
    margin: 0;
    padding: 0;
    font-size: 15px; /* Ajustado para mantener un solo lugar de estilo */
    display: flex;
    align-items: center; /* Alinea verticalmente el texto dentro del h3 */
}

.header_nav a {
    text-decoration: none;
    color: #FFF;
}

.user_nav_content {
    padding: 5px;
    background-color: #0C2640;
    display: flex;
    justify-content: center;
}

.user_nav_content .user_info div, .nav_shop_card {
    display: flex;
    gap: 5px;
}

.user_info h2 {
    font-size: 25px;
}

.user_photo_nav {
    padding-top: 5px;
    margin: 2px;
    width: 20%;
    height: 20%;
}

.user_info {
    width: 200px;
    height: 55px;
}

.user_info div a h3 {
    color: #0061C3;
}

.nav_shop_card {
    gap: 1px;
    margin: 2%;
    border-bottom: 1px solid #ffffffcb;
    display: flex; /* Se añadió para alinear el contenido dentro */
}

.nav_card_icon {
    width: 15%;
    margin: 10px;
}

.header_nav ul {
    margin: 15px 0 0 15px;
    padding: 0;
}

.header_nav li {
    margin-bottom: 10%;
    list-style-type: none;
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 10px; /* Espacio entre la imagen y el texto */
}

.nav_category_icon {
    width: 24px;
    height: 24px;
}

.header_nav li:hover,
.nav_shop_card:hover,
.user_photo_nav:hover,
.header_nav a h3:hover,
.user_info h2:hover {
    opacity: 50%;
}

.hidden {
    display: none;
}

/* Estilo de los breadcrumbs */
.breadcrumbs {
    background-color: #023467; /* Fondo azul oscuro */
    padding: 20px 0 0 402px;
}
.breadcrumbs img {
    display: inline;
    width: 20px; /* Puedes ajustar el tamaño aquí */
    height: auto;
    margin-right: 5px; /* Espaciado entre las imágenes */
}
.breadcrumbs_greaterthan_icon {
    max-width: 18px;
}
.breadcrumbs h3 {
    color: #FFF;
    padding-bottom: 3px;
    font-size: 20px;
    display: inline;
    margin-right: 5px;
}

/* Estilo del form_logIn */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

.social-login {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-login button {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    width: 48%;
}

#reCaptcha {
    margin-top: 20px;
    text-align: left;
}

/* Estilo del footer */
footer {
    height: 210px;
    background-color: rgba(0, 39, 78, 1);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 155px;
}

footer ul {
    list-style: none; /* Quita los puntos de lista */
    padding: 0;
    margin: 0;
}

footer h3 {
    font-weight: bolder;
    font-size: 16px;
    color: #57B300;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer li {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}
@media (max-width: 800px) {
    header, article, footer, body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    /* Estilo del header */
    .hamburger-menu,
    .logo {
        padding-left: 0px;
    }
    .logo {
        padding-left: 0px;
        margin-bottom: 0px;
    }
    header a img {
        max-width: 50px;
        margin: 12px;
    }
    /* Estilo del navegador */
    .header_nav {
        margin-left: 0px;
        height: 600px;
    }
    .user_info div h3 {
        font-size: 15px;
    }
    .header_nav h3,
    .user_info h2 {
        font-size: 20px;
    }
    .nav_category_icon {
        width: 30px;
        height: 30px;
    }
    /* Estilo de los breadcrumbs */
    .breadcrumbs {
        padding: 10px 0 0 10px;
    }
    footer {
        padding-top: 30px;
        display: grid;
        justify-content: center;
        gap: 0px;
    }
    footer a:hover {
        opacity: 50%;
    }
    footer ul {
        /* También puedes centrar los textos aquí si lo deseas */
        text-align: center;
    }
    footer h3 {
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
    
    footer a {
        font-family: 'Nunito', sans-serif; /* Ajustado para mantener consistencia */
        text-decoration: none;
        color: #FFFFFF;
    }
    
    footer li {
        display: none;
    }
}