/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #003E7D;
    --border-radius: 20px;
    --gap : 15px;
}

body {
    width: 100%; 
    margin: 0; 
    padding: 0;
    font-family: 'inter', sans-serif;
    color: white;
    background-color: var(--primary-color); /* Fondo azul oscuro */

}

.page_content, .breadcrumbs {
    padding: 1% 15%;
}

.page_content {
    z-index: 1;
    max-height: fit-content;
    min-height: 600px;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

/* Estilo del header */
#header header {
    z-index: 2;
    background-color: #0061C3;
    width: 100%;
    margin: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon {
    max-width: 40px;
    padding: 5px;
    transition: 0.5s ease-out;
}

.logo {
    max-width: 200px;
}

.hidden {
    display: none; /* Se eliminó la duplicación de .hidden */
}

/*---------------estilos carrusel -----------------*/

/*--------------------- spinner -------------------------------*/
.loader-capa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-top: 4px solid #007bff;
    animation: rotacion 1s linear infinite;
}

.loader-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

@keyframes rotacion {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*--------------------- fin spinner -------------------------------*/

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

h1 {
    text-align: center;
}

.game-title {
    width: 100%;
    text-align: left;
    /* font-size: 0.875rem; */
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.carousel-container {
    width: 100%;
    overflow: hidden; 
    position: relative;
}

.carousel {
    display: flex;
    width: 100%;
    gap: 15px;
    list-style: none;
}

.game-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    flex: 0 0 calc(100% / 2.3 - 10px);
}

.game-card img, .game-card article {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2% 6%;
    box-sizing: border-box;
    background: linear-gradient(to top, 
    rgba(0, 0, 0, 0.9) 10%, 
    rgba(0, 0, 0, 0.8) 50%, 
    rgba(0, 0, 0, 0.6) 83%, 
    rgba(0, 0, 0, 0.3) 91%, 
    transparent 100%);
}

.cart-btn {
    background-color: #0C2640;
    border: none;
    color: white;
    font-size: medium;
    margin-left: 10px;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.cart-btn:hover{
    background-color: #003E7D;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); 
}

.cart-btn .confirmation-icon {
    color: #76C7C0; /* Color del símbolo de confirmación */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
}

/* Estilo adicional para mostrar el símbolo de confirmación */
.cart-btn.confirmed .confirmation-icon {
    display: inline; /* Mostrar símbolo de confirmación */
    opacity: 1; /* Aumentar opacidad */
}

.price-cart {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: right;
}

.nav-btn, .prev{
    display: none;
}

.carousel-dots{
    display: none;
}
/* -------------estilos carrusel mobile-------------*/

/* Media Queries */
@media (max-width: 600px) {
    .logo {
        max-width: 200px;
        margin: 0;
    }

    .page_content{
        padding: 10px;
    }

    header, article, body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header_nav {
        z-index: 3;
    }

    .breadcrumbs {
        padding: 0 !important;
    }
    .page_content .carousel-container {
        position: relative;
        z-index: 1;
    }
    .page_content .category-container h2 {
        font-size: medium;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    /* Estilo del header */
    .hamburger-menu,
    .logo {
        padding-left: 0;
    }

    .logo {
        padding-left: 0;
        margin-bottom: 0;
    }

    header a img {
        max-width: 50px;
        margin: 12px;
    }

    /* Estilo del navegador */
    .header_nav {
        margin-left: 0; /* Cambiado para alineación */
        height: auto; /* Ajustado para flexibilidad */
    }

    .user_info div h3 {
        font-size: 15px;
    }

    .header_nav h3,
    .user_info h2 {
        font-size: 20px;
    }

    .nav_category_icon {
        width: 30px;
        height: 30px;
    }
}

/* -------------estilos carrusel desktop-------------*/

@media (min-width: 768px) {


    .category-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .carousel-container{
        background-color: #167BE0;
        border-radius: var(--border-radius);
        padding: 10px 10px 3px 10px;
    }

    .carousel {
        padding: 0;
        transition: transform 0.3s ease-in-out;
    } 

    .game-card {
        flex: 0 0 calc((100% / 4.5) - 15px);
        border-radius: 20px;
    }

    .game-info{
        background: none;
    }

    .game-card:hover .game-info{
        background: rgba(0, 0, 0, 0.8);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .game-title, .game-price {
        display: none;
    }

    .game-card:hover .game-title,
    .game-card:hover .game-price {
        display: block;
        text-align: center;
    }

    .game-card:hover .game-title{
        height: 100%;
        width: 100%;
        align-content: center;
    }

    .carousel-container:hover .nav-btn {
        display: block;
        background: url(./assets/arrow_nav.svg) no-repeat center;
        background-color: rgba(0, 0, 0, 0.8);
        width: 4%;
    }

    .prev {     
        display: none;
        left: 0; 
    }

    .next { 
        display: none;
        transform: rotate(180deg);
        right: 0;
    }

    .nav-btn{
        position: absolute;
        top: 0%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.677);
        color:  rgb(0, 167, 19);
        border: none;
        padding: 10px;
        cursor: pointer;
        justify-content: center; 
        align-items: center; 
    }


    .carousel-dots {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .carousel-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 5px;
        padding: 0;
        border: none;
        cursor: pointer;
    }
    
    .carousel-dot.active {
        background-color: #333;
    }

    #suggestedGames{
        padding: 10px;
    }

    #suggestedGames .carousel{
        display: flex;
        width: 100%;
        height: 200px;
        flex-wrap: wrap;
        flex-direction: column;
        height: 40vh;
    }
    
    #suggestedGames .big-card {
        height: 100%;
        width:  calc(40% - var(--gap));
        background-color: green;
        border-radius: 8px;
    }
    
    #suggestedGames .game-card{
        flex: 0 0 auto; /* Evita que el ancho se ajuste automáticamente */
    }

    #suggestedGames .small-card {
        height: calc(50% - (var(--gap) / 2));
        width:  calc(20% - var(--gap));
        background-color: aqua;
        border-radius: 8px;
    }
    
    .hidden {
        display: none;
    }

    .carousel-wrapper {
        display: flex;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

}
/* -------------fin estilos carrusel desktop-------------*/
